In [10]:
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from config import DB_USER, DB_PASS

ModuleNotFoundError: No module named 'config'

In [11]:
engine = create_engine(f"postgresql://{DB_USER}:{DB_PASS}@localhost/employee_db")
conn = engine.connect()

NameError: name 'DB_USER' is not defined

In [12]:
salaries = pd.read_sql("SELECT * FROM salaries", conn)
salaries.head()

NameError: name 'conn' is not defined

In [13]:
titles = pd.read_sql("SELECT * FROM titles", conn)
titles.head()

NameError: name 'conn' is not defined

In [14]:
merged = pd.merge(salaries, titles, on="emp_no", how="inner")
merged.head()

NameError: name 'salaries' is not defined

In [15]:
grouped = merged.groupby("title").mean()
grouped

NameError: name 'merged' is not defined

In [16]:
title_salary_df = grouped.drop(columns = "emp_no")
title_salary_df

NameError: name 'grouped' is not defined

In [17]:
title_salary_df = title_salary_df.reset_index()
title_salary_df

NameError: name 'title_salary_df' is not defined

In [18]:
x_axis = title_salary_df["title"]
ticks = np.arange(len(x_axis))
y_axis = title_salary_df["salary"]
 
plt.bar(x_axis, y_axis, align="center", alpha=1.0, color=["pink", "b", "r", "orange", "y", "b", "g"])

plt.xticks(ticks, x_axis, rotation="vertical")

plt.ylabel("Salaries ($)")
plt.xlabel("Employee Title")
plt.title("Average Employee Salary by Title")

plt.savefig("../Images/avg_salary_by_title.png")

plt.show()

NameError: name 'title_salary_df' is not defined